<% if !current_user.username_set %>
  <div class="alert-push"></div>

  <div class="alert-card" id="pass-set">
    <h3> <%= t('namealert') %> </h3>
    <p> <%= t('namealertcall') %> </p>

    <%= form_for current_user, url: user_name_set_path, method: :patch, remote: true do |f| %>
      <%= f.text_field :username, minlength: "2", maxlength: "15", placeholder: t('profilename'), class: "form-input", value: nil ,rows: 1, required: true %>
    <% end %>
  </div>

<% elsif current_user.password_digest.nil? %>
  <div class="alert-push"></div>

  <div class="alert-card" id="pass-set">
    <h3> <%= t('passalert') %> </h3>
    <p><%= t('passalertcall') %> </p>

    <%= form_for current_user, url: user_password_set_path, method: :patch, remote: true do |f| %>
      <%= f.password_field :password, minlength: "4", maxlength: "80", placeholder: t('yourpass'), class: "form-input" ,rows: 1, required: true %>
    <% end %>
  </div>

<% elsif current_user.photo.url.nil? %>
  <div class="alert-push"></div>

  <div class="alert-card profile-edit" style="cursor:pointer">
    <h3><%= t('photoalert') %> </h3>
    <p><%= t('photoalertcall') %> </p>
  </div>

<% else %>
  <div class="alert-push enable-notifications hidden"></div>

  <div class="alert-card enable-notifications hidden" style="cursor:pointer">
    <h3><%= t('notificationalert') %> </h3>
    <p><%= t('notificationcall1') %> </p>
    <p><%= t('notificationcall2') %> </p>
  </div>
<% end %>
