<% joined = current_user.tenancies %>
<% not_joined = Room.where.not(id: joined.pluck(:room_id)) %>
<% console %>

<div class="top-bar">
  <%#= image_tag "lero5.png", class: "logo" %>
  <%#= image_tag "lero6.png", class: "logo" %>
</div>

<div class="containerd">
  <aside class="control col-md-3 col-lg-2 col-sm-4 hidden-xs">
    <div class="side-head">
      <div class="side-back hidden">
        <%= image_tag("side-back.png", class: "side-back") %>
      </div>

      <h2 class="side-title"> Salas </h2>

      <div class="side-actions">
        <%= image_tag("room-new.png", class: "room-new") %>
      </div>
    </div>

    <div class="window window-main" data-name="Salas">

      <ul class="room-tabs">
        <% if joined.any? %>
          <% joined.each do |t| %>
            <li class="room-tab" data-id="<%= t.room.id %>"> <%= t.room.name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="window window-room-discover hidden" data-name="Explorar">
      <% if not_joined.any? %>
      <h3> Sugeridos </h3>
      <ul class="room-list">
        <% not_joined.each do |t| %>
          <li class="room-pick" data-id="<%= t.id %>"> <%= t.name %> </li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="window window-room-new hidden" data-name="Nova sala">
      <div class="room-error"></div>
      <%= form_for Room.new, remote: true do |f| %>
        <%= f.text_field :name, minlength: "2", maxlength: "15", placeholder: "Room name", class: "form-input", required: true %>
        <%= f.submit "Create", class: "form-submit" %>
      <% end %>
    </div>

    <span class="toggle-console hidden"> Toggle console </span>
    <%= render 'main/alerts' %>

  </aside>




  <div class="chat col-md-9 col-lg-10 col-sm-8">
    <div class="chat-head">
      <h2 class="chat-title"> Chat </h2>
      <div class="room-actions">
      <%= image_tag("room-link.png", class: "room-hotlink") %>
      <%= image_tag("room-leave.png", class: "room-leave") %>
      </div>
    </div>
    <div id="chat-container">

      <% joined.each do |t| %>
        <div class="room" data-id="<%= t.room.id %>">
        </div>
      <% end %>

    </div>

    <div class="chat-insert">

    <% if current_user.username_set %>
      <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1"></textarea>
    <% else %>
      <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1" class="hidden"></textarea>

      <div class="form-username">
        <div id="error-div">
        </div>
        <h2> Bem vindo ao Lero! </h2>
        <h3> Seu nome: </h3>
        <%= form_for current_user, url: user_name_set_path, method: :patch, remote: true do |f| %>
          <%= f.text_field :username, minlength: "2", maxlength: "15", placeholder: "Nome",value: nil ,rows: 1, required: true %>
        <% end %>

        <h3> ou </h3>
        <div class="form-button login-button">
          Login
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
