<div class="top-bar">
  <div class="">
</div>

<div class="containerd">
  <aside class="control col-md-3 col-lg-2 col-sm-4 hidden-xs">
    <h3> Rooms </h3>
    <p> lol </p>

    <div class="room-error"></div>
    <%= form_for Room.new, remote: true do |f| %>
      <%= f.text_field :name, minlength: "3", maxlength: "10", placeholder: "Room name", class: "form-input", required: true %>
      <%= f.submit "Create", class: "form-submit" %>
    <% end %>
  </aside>


  <div class="chat col-md-9 col-lg-10 col-sm-8">
    <h3 class="chat-title"> Chat </h3>
    <div id="chat-container">

    </div>

    <div class="chat-insert">
      <div id="error-div">
      </div>
    <% if !current_user.username.nil? %>
      <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1"></textarea>
    <% else %>
      <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1" class="hidden"></textarea>

      <div class="form-username">
      <h3 style="height:0px"> Digite um nome </h3>
        <%= form_for current_user, url: user_path(current_user), method: :patch, remote: true do |f| %>
          <%= f.text_field :username, minlength: "3", maxlength: "15", placeholder: "Para começar diga o seu nome", rows: 1, required: true %>
        <% end %>
      <% end %>
      </div>
    </div>

  </div>
</div>
