<% joined = current_user.tenancies %>
<% not_joined = Room.where.not(id: joined.pluck(:room_id)) %>
<% popular_rooms = Room.all.last(12) %>
<% console %>

<div class="top-bar">
  <%#= image_tag "lero5.png", class: "logo" %>
  <%#= image_tag "lero6.png", class: "logo" %>
  <span class="toggle-console"> Toggle console </span>
  <span class="profile-edit"> Edit profile </span>
  <span class="explore"> Explore </span>
</div>

<div class="containerd">
  <aside class="control row-bs">
    <div class="side-head">
      <div class="side-back hidden">
        <%= image_tag("side-back.png", class: "side-back") %>
      </div>

      <h2 class="side-title"> Salas </h2>

      <div class="side-actions">
        <%= image_tag("room-new.png", class: "room-new") %>
      </div>
    </div>

    <div class="window window-main" data-name="Salas">

      <ul class="room-tabs">
        <% if joined.any? %>
          <% joined.each do |t| %>
            <li class="room-tab" data-id="<%= t.room.id %>"> <%= t.room.name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="window window-room-discover hidden" data-name="Explorar">
      <% if not_joined.any? %>
      <h3> Sugeridos </h3>
      <ul class="room-list">
        <% not_joined.each do |t| %>
          <li class="room-pick" data-id="<%= t.id %>"> <%= t.name %> </li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="window window-room-new hidden" data-name="Nova sala">
      <div class="room-error"></div>
      <%= form_for Room.new, remote: true do |f| %>

        <%= f.file_field :photo %>
        <%= f.text_field :name, minlength: "2", maxlength: "15", placeholder: "Room name", class: "form-input", required: true %>
        <%= f.text_area :description, minlength: "2", maxlength: "30", placeholder: "Room Description", class: "form-textarea-sm", rows: 3 %>
        <%= f.submit "Create", class: "form-submit" %>
      <% end %>
    </div>

    <div class="window window-profile-edit hidden" data-name="Editar perfil">
      <div class="profile-error"></div>
      <%= form_for current_user,url: user_profile_set_path, method: :patch, remote: true do |f| %>

        <%= f.file_field :photo %>
        <%= f.text_field :name, minlength: "2", maxlength: "15", placeholder: "Display name", class: "form-input", required: true %>
        <%= f.text_area :bio, minlength: "2", maxlength: "50", placeholder: "Bio", class: "form-textarea-sm", rows: 3 %>
        <%= f.submit "Save", class: "form-submit" %>
      <% end %>
    </div>

    <%= render 'main/alerts' %>

  </aside>

  <div class="chat row-bs">
    <div class="chat-head">
      <h2 class="chat-title"> Lero </h2>
      <div class="room-actions">
      <%= image_tag("room-link.png", class: "room-hotlink") %>
      <%= image_tag("room-leave.png", class: "room-leave") %>
      </div>
    </div>
    <div id="chat-container">
      <% joined.each do |t| %>
        <div class="room" data-id="<%= t.room.id %>"> </div>
      <% end %>

      <div class="landing">
        <%= image_tag "lero5.png" %>

        <div class="landing-intro">
          <h1> Lero </h1>
          <p> Um novo lugar para conversar em grupos! </p>
        </div>

        <h3> Salas populares no momento </h3>

        <div class="room-popular clearfix">
          <% popular_rooms.each do |r| %>
            <div class="room-card" data-id="<%= r.id %>">
              <%= image_tag r.photo? ? r.photo.url.to_s : "lero5.png"  %>
              <div class="room-card-description">
                <h6> <%= r.name %> </h6>
                <p> <%= r.description %> </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="chat-insert">
      <% if current_user.username_set %>
        <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1"></textarea>
      <% else %>
        <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1" class="hidden"></textarea>
        <div class="form-username">
          <div id="error-div"> </div>
          <div class="form-new-user">
            <h3> Seu nome: </h3>
            <%= form_for current_user, url: user_name_set_path, method: :patch, remote: true do |f| %>
              <%= f.text_field :username, minlength: "2", maxlength: "15", placeholder: "Nome",value: nil ,rows: 1, required: true %>
            <% end %>
            <h3> ou </h3>
            <div class="form-button login-button">
              Login
            </div>
          </div>

          <div class="form-login hidden">
            <%= form_for(:session, url: login_path, remote: true) do |f| %>
              <h3> Usuario: </h3> <%= f.text_field :username, :autocapitalize => "off", :required => true, :minlength => "2", size: 40, class: "form-control-dark fumee"  %>
              <h3> Senha: </h3> <%= f.password_field :password, :required => true, :minlength => "6", size: 40, class: "form-control-dark fumee"  %>
              <%= f.submit "Ir", class: "form-button" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
