<% joined = current_user.tenancies %>
<% not_joined = Room.where.not(id: joined.pluck(:room_id)) %>
<% console %>

<div class="top-bar">
</div>

<div class="containerd">
  <aside class="control col-md-3 col-lg-2 col-sm-4 hidden-xs">
    <span class="toggle-console"> Toggle console </span>
    <h3> Rooms </h3>
    <ul class="room-tabs">
      <% if joined.any? %>
        <% joined.each do |t| %>
          <li class="room-tab" data-id="<%= t.room.id %>"> <%= t.room.name %> </li>
        <% end %>
      <% end %>
    </ul>

    <h3> Suggest </h3>
    <ul class="room-list">
      <% not_joined.each do |t| %>
        <li class="room-pick" data-id="<%= t.id %>"> <%= t.name %> </li>
      <% end %>
    </ul>

    <div class="room-error"></div>
    <%= form_for Room.new, remote: true do |f| %>
      <%= f.text_field :name, minlength: "3", maxlength: "10", placeholder: "Room name", class: "form-input", required: true %>
      <%= f.submit "Create", class: "form-submit" %>
    <% end %>
  </aside>


  <div class="chat col-md-9 col-lg-10 col-sm-8">
    <div class="chat-head">
      <h2 class="chat-title"> Chat </h2>
      <div class="chat-actions">
      <%= image_tag("room-leave.png", class: "room-leave hidden") %>
      </div>
    </div>
    <div id="chat-container">

      <% joined.each do |t| %>
        <div class="room" data-id="<%= t.room.id %>">
        </div>
      <% end %>

    </div>

    <div class="chat-insert">
      <div id="error-div">
      </div>
    <% if current_user.username_set %>
      <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1"></textarea>
    <% else %>
      <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1" class="hidden"></textarea>

      <div class="form-username">
      <h3> Seu nome: </h3>
        <%= form_for current_user, url: user_path(current_user), method: :patch, remote: true do |f| %>
          <%= f.text_field :username, minlength: "2", maxlength: "15", placeholder: "Nome",value: nil ,rows: 1, required: true %>
        <% end %>
      <% end %>
      </div>
    </div>

  </div>
</div>
