<!DOCTYPE html>
<html>
<head>
  <title> Lero </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

  <meta name="description" content="Group chats with lero!">
  <meta property="og:title" content="<%= content_for?(:ogtitle) ? content_for(:ogtitle) : content_for(:title) %>" />
  <meta property="og:description" content="Lero group chat, chat for your crew!">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="Lero" />

  <meta property="fb:admins" content="100002091950714" />

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#0857D6">


</head>
  <body>

  <%= yield %>

  </body>
</html>
